<section>
  <article>
    <div>
      <h2>
        Crea el producto de tus sueños
      </h2>
      <p>
        Obtén las herramientas y la experiencia para hacer realidad tus ideas
      </p>

    </div>
  </article>
  <div>
    <app-list-secondaries-buttons [buttons]="buttons"
      (onButtonClicked)="onButtonClicked($event)"></app-list-secondaries-buttons>
    <a> Ya colaboro en una idea</a>
  </div>

  <!-- <p>Conéctate con LinkedIn para unirte a la comunidad de emprendedores y colaboradores de Ideakas</p>
  <linkedin-button></linkedin-button> -->

</section>