header
{
    display: flex;
    gap: var(--margin-m);
    background-color: var(--bg-200);
    padding: var(--padding-page) var(--padding-page) calc(var(--padding-page) * 0.5);
    .input-container
    {
        flex: 1
    }
}