<section>
  <a class="back" [routerLink]="['..']">
    <i class="far fa-chevron-left"></i>
    Volver a Proyectos
  </a>
  <header>
    <h4>Proyecto: Lean</h4>
  </header>
  <article>
    <div class="card">
      <header>
        <h5>Definición</h5>

      </header>

      <ul>
        <li>
          <h6>Nombre</h6>
          <p>Proyecto 1</p>
        </li>
        <li>
          <h6>Slogan</h6>
          <p>Este es mi slogan</p>
        </li>
        <li>
          <h6>Descripción</h6>
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Assumenda nesciunt eius numquam deleniti placeat,
            maxime odit prae ti?</p>
        </li>
        <li>
          <h6>Misión</h6>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing el Ex cumque temporibus doloribus sint quia obcaecati
            tempora sequi vel expedita harum?</p>
        </li>
        <li>
          <h6>Visión</h6>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit periam cupiditate! Eveniet vero a cumque numquam
            earum.</p>
        </li>
        <li>
          <h6>Objectivos</h6>
          <p>Lorem ipsum dolor sit amet, consectetur isicing elit. Libero error odit cum illum! Cum id rerum est
            assumenda, veritatis consectetur voluptas ullam aperiam cupiditate! Eveniet vero a cumque numquam earum.</p>
        </li>
        <li>
          <h6>Hitos</h6>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero error odit cum illum! Cum id rerum est
            assumenda, veritatis consectetur voluptas ullam aperiam cupiditate! Eveniet vero a cumque numquam earum.</p>
        </li>
      </ul>
    </div>
  </article>
  <article>
    <div class="card">
      <h5>Equipo</h5>
      Aquí puedes comunicarte con tu equipo, ver sus perfiles y definir qué perfil estás buscando
    </div>
  </article>
  <article>
    <div class="card">
      <h5>Objetivos</h5>
      <div class="chart">
        Aquí se definen los objetivos de cada persona, se evaluan y se ve el historial
      </div>
    </div>
  </article>
  <article>
    <div class="card">
      <h5>Financiación</h5>
      <div class="chart"> Un resumen de la financiación de tu proyecto</div>
    </div>
  </article>
</section>