main
{
    min-height: 100vb;
    height: 100vb;
    max-height: 100vb;
    display: flex;
    flex-direction: column;
    ::ng-deep
    {
        router-outlet + *
        {
            flex: 1;
            display: flex;
            flex-direction: column;
            background-color: var(--bg-200);
            border-radius: var(--margin-xl) var(--margin-xl) 0 0;

            position: relative;
            z-index: 2;
            > section
            {

                flex: 1;
                display: flex;
                flex-direction: column;
                max-height: calc(100vb - var(--padding-page) * 3 - var(--padding-page) / 1.5 * 2 - var(--margin-sm) * 2 - var(--text-l));
                overflow: auto;

                justify-content: space-between;


            }
            p
            {
                line-height: 1.2;
            }
        }
    }

}