#menu
{
    background-color: var(--bg-200);
    padding: 0; //padding: 0 var(--margin-m) var(--margin-m);
    position: relative;

    // &::after
    // {
    //     content: '';
    //     position: absolute;
    //     bottom: 0;
    //     left: 0;
    //     width: 100%;

    //     height: 50%;
    //     background-color: var(--bg-100);
    // }
    ul
    {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: var(--margin-s);
        background-color: var(--bg-100);
        padding: var(--margin-l) var(--padding-page);
        //border-radius: var(--margin-xl) var(--margin-xl) 0 0;
        // box-shadow: 0 0 0 var(--padding-page) var(--bg-100);
        position: relative;
        z-index: 1;
        li
        {
            flex: 1;
            a
            {
                font-size: var(--text-s);
                color: var(--text-200);
                gap: var(--margin-s);
                display: flex;
                justify-content: space-around;
                align-items: center;
                border-radius: var(--margin-xl);
                i
                {
                    font-size: var(--text-l);
                    &.selected
                    {
                        display: none;
                    }
                }
                span
                {
                    display: none;

                }

                &.selected
                {
                    flex: 1;
                    padding: var(--margin-sm) var(--margin-l);
                    background-color: var(--text-100);
                    color: var(--primary-300);
                    span
                    {
                        display: block;
                    }
                    i.normal
                    {
                        display: none;
                    }
                    i.selected
                    {
                        display: block;
                        font-size: var(--text-l);

                    }
                }
            }
        }
    }
}