 article
 {
     display: flex;
     flex-direction: column;
     height: 100%;
     app-search-project
     {

         position: sticky;
         top: calc(var(--padding-page) * -0.5);
         z-index: 1;
     }
     h3
     {
         padding: var(--padding-page);
         flex: 1;
         --fa-primary-color: var(--accent-200);
         --fa-secondary-color: var(--accent-100);
         --fa-tertiary-color: var(--bg-100);
         color: var(--text-200);
         font-weight: 400;
         i
         {
             font-size: var(--text-xxxxl);
             display: block;
         }
         display: flex;
         flex-direction: column;
         align-items: center;
         justify-content: center;
         gap:var(--margin-s);
         margin:var(--margin-xxl);
         flex:1;
     }
     ul
     {
         padding: calc(var(--padding-page) * 0.5) var(--padding-page) var(--padding-page);
         li
         {
             margin-bottom: var(--margin-l);
         }
     }
 }